{% extends 'base.html' %}

{% block title %}Crie uma Nova Senha{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Crie sua Nova Senha</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary">Alterar Minha Senha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}